[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
deepl = "*"
openai-whisper = "*"
pysubs2 = "*"
python-dotenv = "*" 
click = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.11.0"
