[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pyqt5 = "*"
dependency-injector = "*"
pysubs2 = "*"
python-dotenv = "*"
deepl = "*"
torchvision = "*"
torchaudio = "*"
openai-whisper = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
